{% extends 'ambuadmin/homelayout.html' %}

{% load static %}

{% block pagestyling %}
    <link rel="stylesheet" href="{% static 'ambuadmin/own/css/adminlogin.css' %}">

{% endblock %}

{% block content %}
    <body>
        <div class="login-holder" id="login-parent">
            <form class="login-form" method="post">
    
                {% csrf_token %}
    
                <h3 class="login-heading">LOGIN</h3>
                <div class="group-input">
                    <label for="email" class="input-label">Email Address</label>
                    <input type="text" name="email" placeholder="email address" class="input-field form-control" required>
                </div>
    
                <div class="group-input">
                    <label for="password" class="input-label">Password</label>
                    <input type="password" name="password" placeholder="password" class="input-field form-control" required>
                </div>
    
                <div class="submit-holder">
                    <button type="submit" id="submit-button" class="btn btn-success">LOGIN</button>
                </div>
                
            </form>
        </div>
    
    </body>
    
{% endblock %}